/* タブレット以下 */
@media(max-width:1000px) {

    .header .title {
        padding: 25px 20px;
    }

    .main {
        width: 95%;
    }

    .namecontainer label {
        width: 88%;
    }

    .sort {
        width: 12%;
    }

}


/* スマホ以下 */
@media(max-width:700px) {

    .header .explanation {
        font-size: 12px;
    }

    .main {
        width: 95%;
    }

    .input {
        padding: 30px 15px;
    }


    .info .container {
        gap: 25px;
    }

    .namecontainer label {
        width: 100%;
    }

    .sort {
        padding-top: 5px;
    }

    .sort label {
        float: left;
        width: fit-content;
        margin-right: 5px;
    }

    .infocontainer {
        gap: 15px;
    }

    .infocontainer label {
        width: 100%;

    }


    .ingredient .container label {
        width: 100%;
        flex: auto;
    }

    .ingredient .container {
        gap: 15px;
    }


    .subskill {
        width: 100%;
        border-right: none;
        border-bottom: solid 1px rgb(184, 184, 184);
        margin: 20px 0 0 0;
        padding: 0 0 20px 0;
    }



    .personality {
        width: 100%;
        padding: 0;
        border-right: none;
    }

    .personality .container {
        gap: 15px;
    }


    .button {
        font-size: 14px;
    }


    .evbcl {
        margin: 20px 0 15px 0;
    }

    .evbcl,
    .subskillbcl {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}