@media(max-width:1000px){
    .main{
        width:95%;
    }
    .namecontainer label{
        width: 88%;   
    }
    .sort{
        width:12%;
    }
}



@media(max-width:700px){
    .main{
        width:95%;
    }
    .input{
        padding: 30px 15px;
    }


    .info .container{
        gap: 25px;
    }

    .namecontainer label{
        width: 100%;   
    }
 
    .sort{
        padding-top:5px;
    }
    .sort label{
        float: left;
        width: fit-content;
        margin-right: 5px;
        
    }


    .infocontainer{
        gap:15px;
    }

    .infocontainer label{
        width:100%;
        
    }


    .ingredient .container label{
        width:100%;
        flex:auto;
    }
    .ingredient .container{
        gap:15px;
    }


    .subskill{
        width:100%;
        border-right:none;
        border-bottom:solid 1px rgb(184, 184, 184);
        margin:20px 0 0 0;
        padding:0 0 20px 0;
    }
    .personality{
        width:100%;
        padding: 0;
        border-right:none;
    }

    .personality .container {
        gap: 15px;
    }




    .button{
        font-size: 14px;
    }


    .evbcl{
        margin: 10px 0 5px 0;
    }
    
}

/* hover指定できるPCを想定したスタイル */
@media (hover: hover) {

    .select:hover{
        border:1px solid #000000;
    }

    .speedB .outer:hover{
        border: 1px solid rgb(0, 0, 0);

    }

    .button:hover {
        margin-top: 2px;
        border-bottom: 1px solid #0686b2;
    }

    .clear:hover {
        margin-top: 2px;
        border-bottom: 1px solid #aac5db;
    }

    .summary:hover,.summarybcl:hover{
        opacity:0.7;
        cursor:pointer;
    }

}
    
/* hoverが使えないタッチ端末を想定した装飾 */
@media (hover: none) {
    


    .button:active {
        margin-top: 2px;
        border-bottom: 1px solid #0686b2;
    }

    .clear:active {
        margin-top: 2px;
        border-bottom: 1px solid #aac5db;
    }

    .summary:active,.summarybcl:active{
        opacity:0.7;
        cursor:pointer;
    }
}