*{  
    /* *でHTML全体に適用、幅や高さにpaddingやborderを含める記述 */
    box-sizing: border-box; 
}

html,body{
    margin:0;
    padding:0;
    background-color: rgb(243, 245, 247);
    font-size: 16px;
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
   
    
}


.header{
    border-top:solid 5px #1062a4;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.164);
    color: #494949;/*文字色*/
}

.header .title{
    font-size: 18px;
    font-weight:bold;
    padding: 20px 20px;
}

.header .explanation{
    background-color: #1062a4;
    color: white;
    padding: 10px 20px;
    font-size: 13px;
}

.title p,.explanation p{
    margin: 0;
}






.mainwrapper{
    width:600px;
    margin:40px auto;
    display: flex;
    flex-direction: column;

}

.inputcontainer{
    display: flex;
    flex-direction: column;

}

.input{
    display: flex;
    flex-wrap:wrap;

    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.164);
    padding: 30px;
}

.s{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom:solid 1px #c1c1c1
}




.outputcontainer{
    display: flex;
    flex-direction: column;
  
}

.output{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.164);
    padding: 30px;
}





h1{
    margin:0px 0px 0px 0px;
    font-size: 18px;
    background: transparent;/*背景透明に*/
    color: #494949;/*文字色*/
}

h2{
    margin:0;
    font-size: 13px;
    color: #494949;/*文字色*/
}

select{
    font-size: 15px;
}





.name{
    flex: auto;
}

.name .container select,.ingredient .container select{
    display: block;
    width: 100%;
    
}

.name .container2{
    display: flex;
    
}

.name .container2 label{
    width:33.3%
    
}

.name .container2 select{
    display: block;
    width: 100%;
    
}





.ingredient{
    flex: auto;
}


.ingredient,.subskill,.personality{
    display: flex;
    flex-direction: column;
}

.ingredient .container{
    display: flex;
}

.ingredient .container label{
    width:33.3%
}




.subskill,.personality{
    width:50%;
}

.subskill .container{
    display: flex;
    flex-direction: column; 
}

.speedSM,.ingredientSM{
    display: flex;
    flex-direction: column;
}


.personality{
    width:50%;
}




.buttontext{
    flex: auto;
    width: 100%;
}



